%iframe{  :data              => { :aa => "1246" },
          :src               => "//ad.a-ads.com/1246",
          :scrolling         => "no",
          :style             => "width:300px; height:280px; border:0px; padding:0;overflow:hidden",
          :allowtransparency => "true" }
%p
  %a(href='http://a-ads.com?partner=1246') Advertise with Anonymous Ads
