%iframe{  :scrolling => "no",
          :src       => "https://www.operationfabulous.com/ads/ad_display.js" }
%p
  %a(href='https://www.operationfabulous.com/ads/link_nojs.php?wid=1415') Opertion Fabulous Ads
